// * DEFAULT 

html::-webkit-scrollbar {
    width: 0.8rem; 
 }

html::-webkit-scrollbar-track {
  background-color: $mainColor;
}

html::-webkit-scrollbar-thumb {
  background: $blue;
  border-radius: 999px;
}
