<div class="skills__tab-item">
    <img src="@@imgPath" alt="@@imgAlt" class="skills__tab-img">
    <div class="skills__tab-content">
        <div class="skills__tab-subtitle subtitle">@@itemTitle</div>
        <div class="descr">@@descr</div>
    </div>
    <div class="skills__tab-rating">
        <img src="@@starType1" alt="@@starAlt1" class="skills__tab-star">
        <img src="@@starType2" alt="@@starAlt2" class="skills__tab-star">
        <img src="@@starType3" alt="@@starAlt3" class="skills__tab-star">
        <img src="@@starType4" alt="@@starAlt4" class="skills__tab-star">
        <img src="@@starType5" alt="@@starAlt5" class="skills__tab-star">
    </div>
</div>